.exp-li {
  background-color: rgba($color: #c7c7c7, $alpha: 0.4);
  padding: 10px;
  border-radius: 15px;
  display: flex;
  align-items: center;

  &:hover {
    background-color: rgba($color: #c7c7c7, $alpha: 0.3);
  }
}

.work-img {
  width: 150px;
}

.work-content {
  text-align: center;
  font-size: large;
}
