.root {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  color: white;
  width: 100%;
}

.circles {
  position: absolute;
  border-radius: 50%;
  box-shadow: 5px 5px 12px 1px rgba(0, 0, 0, 0.2);
  transform: rotate(-45deg);
  z-index: -1;
  background: linear-gradient(to bottom, #191cee 0%, #738dfb 100%);
}

.circle1 {
  width: 562px;
  height: 562px;
  top: -370px;
  left: -370px;
}
.circle2 {
  width: 145px;
  height: 145px;
  top: 159px;
  left: 95%;
}
.circle3 {
  width: 160px;
  height: 160px;
  top: 950px;
}
.circle4 {
  width: 440px;
  height: 440px;
  top: 870px;
  left: 550px;
}
.circle5 {
  width: 662px;
  height: 662px;
  top: 1540px;
  left: -580px;
}
.circle6 {
  width: 170px;
  height: 170px;
  top: 2540px;
  left: 500px;
}

@media (min-width: 620px) {
  .circle1 {
    top: -240px;
    left: -310px;
  }
  .circle2 {
    left: 1310px;
  }
  .circle3 {
    left: 7%;
  }
  .circle4 {
    left: 1370px;
  }
  .circle5 {
    top: 1540px;
    left: -480px;
  }
  .circle6 {
    left: 1300px;
  }
}
