.title {
  justify-self: center;
}

.subtitle {
  justify-self: center;
  font-weight: 200;
  font-size: medium;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
