// Background
// General Bottom
$background-btm: #020202e8;

// Home Page
$background-top1: #191CEE;
$background-mid1: #101291;

// Projects Page
$background-top2: #19EEEE;
$background-mid2: #4A1F70;

// CV Page
$background-top3: #9919EE;
$background-mid3: #701F29;

// Contact Page

$background-top4: #2E19EE;
$background-mid4: #3F74D6;