.crt-li {
  min-height: 170px;
  justify-content: center;
  padding: 15px;
  background-color: rgba($color: #c7c7c7, $alpha: 0.4);
  border-radius: 15px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  .crt-img {
    width: 150px;
    margin-bottom: 15px;
  }

  .crt-content {
    margin-left: 10px;
    align-items: center;
  }

  &:hover {
    background-color: rgba($color: #c7c7c7, $alpha: 0.3);
  }

  &:last-of-type {
    margin-bottom: 10px;
  }
}
